@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.App {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.app_wraper {
    flex: 0.9;
    background-color: #fff;
}
